:host {
  position: relative;
}

#tooltip-icon {
  background: lightcoral;
  color: white;
  padding: 0.15rem 0.45rem;
  border-radius: 50%;
  margin-left: 1rem;
  cursor: pointer;
}

#tooltip-text {
  /* display: none; */
  position: absolute;
  top: 1.5rem;
  right: -4rem;
  background: lightcoral;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
